<main ng-mousedown="mouseDown($event)">
    <spinner ng-if="!connected">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
        <message ng-bind="infoMessageText"></message>
    </spinner>
    <line ng-repeat="line in filtered" ng-if="!skiming || (skiming && line.marker)">
      {{line.data}}
      <marker ng-if="line.marker" ng-style="{'background-color': line.marker}"></marker>
    </line>
</main>
<footer>
    <i class="icon-plug" ng-class="{'green': connected}"></i>
    <i class="icon-chevron-down" ng-click="stayAtBottom = !stayAtBottom" ng-class="{'active': stayAtBottom}"></i>
    <i class="icon-trash" ng-click="clearView()"></i>
    <i class="icon-eye" ng-click="skiming = !skiming" ng-class="{'active': skiming}"></i>
    <input ng-class="{'invalid': queryInvalid}" placeholder="Query (String or JSON)" ng-model="query" ng-mousedown="mouseDown($event)">
    <stats ng-click="infoType = !infoType" ng-bind="getInfo()"></stats>
</footer>
